html
	head
		title Sockets
		include ./parts/head.pug
		script
			include ./libs/three.js
			include ./libs/stats.js
			include ./libs/dat.gui.js
			include ./libs/FlyControls.js
			include ./libs/FirstPersonControls.js
			include ./libs/OrbitControls.js
			include ./libs/socket.io.js
		script(src="./js/player.js")
	body
		script(src="./js/game.js")
